<!DOCTYPE html>
<html>
  <head>
    <title>CarAccounting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if signed_in? %>
      <% if current_user.admin? %>
        <%= link_to 'Search cars', cars_path %>
        &nbsp;
        <%= link_to 'Managers', users_path %>
      <% end %>
      &nbsp;
      <%= link_to 'Add car to DB', new_car_path %>
      &nbsp;
      <%= current_user.role %>
      &nbsp;
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path %>
      <%= link_to 'Sign up', new_user_registration_path %>
    <% end %>
    
    <% if flash %>
      <br><br>
      <% flash.each do |key, value| %>
        <%= "#{key}: #{value}" %>
      <% end %>
      <br>
    <% end %>

    <%= yield %>
  </body>
</html>
